<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="ready" class="container" id="admin_dashboard">
    <div class="row">
        <div class="col-md-1" admin-menu></div>
        <div class="col-md-11" ui-view>
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-users"></i> ADMIN DASHBOARD <span ng-show="isBranchAdmin"> FOR {{ _branchOfAdmin.name }} BRANCH</span>
                    </div>
                </div>
                <div class="panel panel-body stats">
                    <div ng-hide="nohint==false" class="col-lg-12">
                        <div class="alert alert-info">
                            <i class="pull-right btn-danger fa fa-remove" ng-click="nohint=false"></i>
                            <h4 class="text-left text-uppercase">Welcome to the Admin Dashboard</h4>
                            <p class=" text-justify">You can manage polls, members and branches</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i> Administrator
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ usr.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i> Administrator's Email
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ usr.email }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6" ng-show="isBranchAdmin">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i> Branch Name
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ _branchOfAdmin.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i> All members
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{total}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i> Invalidated members
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ stats.invalidated }}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i> Started Accreditation
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ stats.started_accreditation }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i>Completed Accreditation
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ stats.accredited }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i>Sent SetupLink
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ stats.setupLink_sent }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title text-uppercase">
                                    <i class="fa fa-info-circle"></i>Re-Sent SetupLink
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h3>{{ stats.resent }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h4 class="panel-title text-uppercase">
                          <i class="fa fa-info-circle"></i>Re-Re-Sent SetupLink
                        </h4>
                      </div>
                      <div class="panel-body">
                        <h3>{{ stats.THresent }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="!ready" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
