#admin_dashboard {
  margin: 5% auto;

  .panel {
    .panel-heading {
      font-weight: 400;
      i {
        margin-right: 10px;
      }
    }
  }

  .stats {
    .panel-body {
      text-align: center;
      h2 {
        font-weight: 500;
      }
    }
  }

  .name-filter {
    font-size: 10px;
    border-radius: 5px;
    padding: 2px 5px;
  }
}