<div ng-controller="BoardCtrl" class="panel panel-green">
    <div class="panel-heading">
        <div class="panel-title">

            <div class="pull-right">
                <div ng-click="goFullscreen" class="btn-success-outline btn btn-xs">Fullscreen</div>
                <div ng-click="flag.lawyers=!flag.lawyers" class="btn-primary btn btn-xs">Lawyers</div>
                <div ng-click="flag.positions=!flag.positions" class="btn-primary  btn btn-xs">Positions</div>
                <div ng-click="flag.branches=!flag.branches" class="btn-primary btn btn-xs">Branches</div>
            </div>
            <i class="fa fa-terminal"></i> LIVE BOARD
            <br>

        </div>
    </div>

    <div  class="panel-body">
        <div ng-if="boardStats" class=" alert alert-primary pull-right">
          <i class="fa fa-calendar"></i> Total Votes Cast:{{boardStats.votedStats}} &nbsp;&nbsp;
          <i class="fa fa-television"></i>   Total Accredited Voters:{{boardStats.accreditedStats}}
        </div>
        <div ng-if="!flag.lawyers" id="Lawyers">

            <div class="col-md-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-television"></i> Last 10 Votes
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="center print table-responsive" style="background-color: white !important;">
                            <div class="center">
                                <table class="table table-striped table-hover table-bordered table-hover table-condensed"
                                       style="border-collapse: separate; border-spacing: 0 5px;">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center text-bold">LAWYER</th>
                                        <th class="text-center text-bold">BRANCH</th>
                                        <!--<th class="text-center text-bold" width="370px">IP ADDRESS</th>-->
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="l in boardStats.lawyerStats">
                                    <tr>
                                        <td class="h4 text-uppercase">{{l._realMember.surname+'
                                          '+(l._realMember.firstName||l._realMmember.othername)}}
                                        </td>
                                        <td class="text-center">{{l._realMember.branch}}</td>
                                        <!--<td class="text-center">{{l.ipAddress}}</td>-->


                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!flag.positions" id="Positions">

            <div class="col-md-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-steam"></i>Votes by Position
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="center print table-responsive" style="background-color: white !important;">
                            <div class="center">
                                <table class="table table-striped table-hover table-bordered table-hover table-condensed"
                                       style="border-collapse: separate; border-spacing: 0 5px;">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center text-bold">POSITION</th>
                                        <th class="text-center text-bold">VOTES</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="p in boardStats.positionStats">
                                    <tr>
                                        <td class="h6">{{p.name}}
                                        </td>
                                        <td style="background-color: #adffa7;" class="text-center">{{p.votes}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!flag.branches" id="Branches">

            <div class="col-md-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-shield"></i>Votes by Branches
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="center print table-responsive" style="background-color: white !important;">
                            <div class="center">
                                <table class="table table-striped table-hover table-bordered table-hover table-condensed"
                                       style="border-collapse: separate; border-spacing: 0 5px;">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center text-bold">BRANCH</th>
                                        <th class="text-center text-bold">VOTES</th>
                                        <th class="text-center text-bold">ACCREDITED</th>
                                        <!--<th class="text-center text-bold">INVALIDATED</th>-->
<!--
                                        <th class="text-center text-bold">ELIGIBLE</th>
-->
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="b in boardStats.branchStats">
                                    <tr>
                                        <td class="h6">{{b.name}}
                                        </td>
                                        <td style="background-color: #adffa7;" class="text-center">{{b.votes}}</td>
                                        <td class="text-center">{{b.accredited}}
                                        </td>
                                        <!--<td class="text-center">{{b.invalidated}}</td>-->
                                        <!--<td class="text-center">{{b.eligible}}
                                        </td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel-footer text-left">

    </div>
</div>
