<div class="panel panel-green">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-users"></i> MEMBER STATUS
        </div>

    </div>
    <div class="panel-body ">

        <form name="vraform" class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-shield"></i></div>
                    <select name="selecteditem" ng-options="branch as branch for branch in branchData"
                            class="form-control" ng-change="noData =false;currentPage=1; pageChanged();"
                            ng-model="selectedItem" id="branch" ng-focus="vrform.searchMember.$setPristine()"
                            ng-required="true">
                        <option value=""> Select A Branch</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" name="searchMember" class="form-control" placeholder="Search by Fullname"
                           ng-model="searchMember" ng-change="pageChanged()">
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="input-group">
                    <div ng-click="resetAll()" class="btn btn-primary"><i class="fa fa-refresh"></i></div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control" ng-model="perPage" ng-options="item for item in pageSizes"
                            ng-change="pageChanged()"></select>
                </div>
            </div>
        </form>
        <br>
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <th>S/N.</th>
                <th><a href="#" ng-click="sortType = 'surname' ; sortReverse = !sortReverse">
                    NAME
                    <span ng-show="sortType == 'surname' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'surname' && !sortReverse" class="fa fa-caret-up"></span>
                </a></th>
                <th><a href="#" ng-click="sortType = 'sc_number' ; sortReverse = !sortReverse">
                    ENROLL NO.
                    <span ng-show="sortType == 'sc_number' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'sc_number' && !sortReverse" class="fa fa-caret-up"></span>
                </a></th>
                <th>
                    STARTED ACCREDICATION
                </th>
                <th>
                    COMPLETED ACCREDITATION
                </th>
                <th>
                    VALIDATED
                </th>
            </tr>
            <tr ng-repeat="m in unaccredited | orderBy:sortType:sortReverse | filter:searchMember track by $index">
                <td>{{(currentPage-1)*perPage+$index+1}}.</td>
                <td>{{m.surname}} {{m.firstName || m.othername}} {{m.middleName}}</td>
                <td>{{m.sc_number}}</td>
                <td style="background-color: #00B22D" ng-show="m._user" >YES</td><td style="background-color: #b25f6b" ng-show="!m._user" >NO</td>
                <td style="background-color: #00B22D" ng-show="m.accredited"  >YES</td><td style="background-color: #b25f6b" ng-show="!m.accredited" >NO</td>
                <td ng-show="m.validity===false" style="background-color: #b25f6b" >NO</td><td style="background-color: #00B22D" ng-show="m.validity!==false">YES</td>
            </tr>
        </table>

        <div class="text-center">
            <pagination first-text="First" last-text="Last" next-text="Next"
                        previous-text="Previous"
                        boundary-links="true"
                        items-per-page="perPage"
                        class="centered-pager"
                        ng-change="pageChanged()" total-items="total" ng-model="currentPage" max-size="10"
                        class="pagination-sm" num-pages="pages">
            </pagination>
        </div>

    </div>

    <div class="panel-footer text-left">
        <b>Total members as queried: {{total}}</b>
    </div>
</div>
