<div class="panel panel-green">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-users"></i> POLLS <span ng-show="total">({{total}})</span>
            <button class="btn btn-xs btn-primary pull-right" ng-click="newPoll()"><i
                    class="fa fa-plus-square"></i> Add New POLL</button>
        </div>
    </div>
    <div class="panel-body">

        <div class="text-center">
            <pagination first-text="First" last-text="Last" next-text="Next"
                        previous-text="Previous"
                        boundary-links="true"
                        items-per-page="perPage"
                        class="centered-pager"
                        ng-change="pageChanged()" total-items="total" ng-model="currentPage" max-size="10" class="pagination-sm" num-pages="pages"></pagination>
        </div>

        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th class="text-right">S/N.</th>
                <th>NAME</th>
                <th>OPENS</th>
                <th>CLOSES</th>
                <th>BRANCH</th>
                <th class="col-sm-2" />
                <th>DELETE</th>
            </tr>
            <tr ng-repeat="p in polls track by $index">
                <td class="text-right">{{(currentPage-1)*perPage+$index+1}}.</td>
                <td>{{p.title}}<br><small><em>{{p.description}}</em></small></td>
                <td>{{ago(p.opens)}}</td>
                <td>{{ago(p.closes)}}</td>
                <td>{{p._branch.name || "NATIONAL" }}<br>
                    <a ui-sref="admin_dashboard.results({id: p._id})" class="btn btn-success btn-xs"><i
                            class="fa fa-signal"></i>
                        Results</a></td>
                <td class="text-center">
                    <button class="btn btn-warning btn-xs" ng-click="edit(p)"><i class="fa fa-edit"></i></button>
                    <a ui-sref="admin_dashboard.positions({id: p._id})" class="btn btn-primary btn-xs"><i
                            class="fa fa-users"></i>
                        Positions</a>
                </td>
                <td class="text-center">
                  <button class="btn btn-danger btn-xs" ng-click="delete(p, $index)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </table>

        <div class="text-center">
            <pagination first-text="First" last-text="Last" next-text="Next"
                        previous-text="Previous"
                        boundary-links="true"
                        items-per-page="perPage"
                        class="centered-pager"
                        ng-change="pageChanged()" total-items="total" ng-model="currentPage" max-size="10" class="pagination-sm" num-pages="pages"></pagination>
        </div>

    </div>

    <div class="panel-footer text-left">
        <b>Number of Polls: {{total}}</b>
    </div>
</div>
