<div class="panel panel-green">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-users"></i> VOTERS REGISTER

            <button ng-if="superAdmin && canDelete" class="btn btn-sm btn-primary pull-right" ng-click="addMemberVR()">
                <i class="fa fa-pencil-square "></i> Add To Voters Register
            </button>
            <button class="btn btn-danger pull-right pull btn-sm" ng-if="superAdmin" ng-show="hasSelected()" ng-click="deleteSelected()">
                <i class="fa fa-trash"></i>
                Delete Selected
            </button>
        </div>

    </div>
   <div class="panel-body ">

        <form  name="vraform" class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-shield"></i></div>
                    <select name="selecteditem" ng-options="branch as branch for branch in branchData" class="form-control" ng-change="noData =false;currentPage=1; pageChanged();" ng-model="selectedItem" id="branch" ng-focus="vrform.searchVotersRegister.$setPristine()"
                             ng-required="true">
                        <option value=""> Select A Branch </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" name="searchVotersRegister" class="form-control"  placeholder="Search by Fullname" ng-model="searchVotersRegister" ng-change="pageChanged()">
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="input-group">
                    <div ng-click="resetAll()" class="btn btn-primary"><i class="fa fa-refresh"></i> </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control" ng-model="perPage" ng-options="item for item in pageSizes"
                            ng-change="pageChanged()"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button ng-class="getUpdatedMembers ? 'btn-primary' : '' " type="button" data-toggle="button" aria-pressed="false" onautocomplete="off" ng-click="getUpdated()" class="btn" >
                        <i class="fa fa-check-circle " style="color: #00B22D;"></i>
                        Updated
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button ng-class="getConfirmedMembers ? 'btn-primary' : '' " type="button" data-toggle="button" aria-pressed="false" onautocomplete="off" ng-click="getConfirmed()" class="btn" >
                        <i class="fa fa-gavel " style="color: #122b40;"></i>
                        Confirmed
                    </button>
                </div>
            </div>
        </form>
        <br>
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <th></th>
                <th>S/N.</th>
                <th><a href="#" ng-click="sortType = 'fullname' ; sortReverse = !sortReverse">
                    FULLNAME
                    <span ng-show="sortType == 'fullname' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'fullname' && !sortReverse" class="fa fa-caret-up"></span>
                </a></th>
                <th><a href="#" ng-click="sortType = 'email' ; sortReverse = !sortReverse">
                    EMAIL
                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-up"></span>
                </a></th>
                <th><a href="#" ng-click="sortType = 'scNumber' ; sortReverse = !sortReverse">
                    SC No
                    <span ng-show="sortType == 'scNumber' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'scNumber' && !sortReverse" class="fa fa-caret-up"></span>
                </a></th>
                <th><a href="#" ng-click="sortType = 'mobileNumber' ; sortReverse = !sortReverse">
                    PHONE
                    <span ng-show="sortType == 'mobileNumber' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'mobileNumber' && !sortReverse" class="fa fa-caret-up"></span>
                </a></th>
                <th></th>
            </tr>
            <tr ng-repeat="v in voters_register | orderBy:sortType:sortReverse | filter:searchVotersRegister track by $index" >
                <td><input type="checkbox" ng-model="v.selected" /></td>
                <td>{{(currentPage-1)*perPage+$index+1}}. <i ng-if="v.updated" class="fa fa-check-circle" style="color: #00B22D;"></i> </td>
                <td>{{v.fullname}}</td>
                <td>{{v.email}}</td>
                <td>{{v.scNumber}}</td>
                <td>{{v.mobileNumber}}</td>
                <td ng-if="canEdit" >
                    <button class="btn btn-xs btn-block btn-purple selected" ng-click="editMemberVR(v, $index)">
                        <i class="fa fa-pencil-square "></i> Edit
                    </button>
                    <i ng-if="v.confirmed" class="fa fa-gravel" style="color: #122b40;"></i>
                </td>
            </tr>
        </table>

        <div class="text-center">
            <pagination first-text="First" last-text="Last" next-text="Next"
                        previous-text="Previous"
                        boundary-links="true"
                        items-per-page="perPage"
                        class="centered-pager"
                        ng-change="pageChanged()" total-items="total" ng-model="currentPage" max-size="10" class="pagination-sm" num-pages="pages"></pagination>
        </div>

    </div>

    <div class="panel-footer text-left">
        <b>Total members as queried: {{total}}</b>
    </div>
</div>
