<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container change_password">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h3 class="text-center"><i class="icon glyphicon-refresh"></i> Change Password</h3><br>

                <div class="alert alert-success">Please Change Your Password to something you can remember</div>

                <div class="alert alert-danger text-center" ng-show="formError">{{formError}}</div>
                <div class="alert alert-success text-center" ng-show="formSuccess">{{formSuccess}}</div>

                <form method="post" ng-submit="pwdForm.$valid && changePassword()" name="pwdForm">

                    <div class="form-group">
                        <input class="form-control input-lg" type="password"
                               ng-model="u.password" ng-minlength="4"
                               placeholder="New Password (at least 4 characters)" required autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="password" name="pwd"
                               ng-model="password_cnf" placeholder="Re-Type Password" required>

                        <div class="text-center m-t-10">
                            <small class="text-danger" ng-show="pwdForm.$valid && (u.password != password_cnf)">
                                Passwords do not match!
                            </small>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="pwdForm.$invalid || (pwdForm.$valid && u.password != password_cnf) || submitting"
                            class="btn btn-lg btn-block btn-default">Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
