<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container request_password">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h3 class="text-center"><i class="icon glyphicon-log-in m-r-15"></i> {{formSuccess?"Password
                    Sent!":"Request
                    Password"}}</h3><br>

                <div class="alert alert-danger text-center" ng-show="formError">{{formError}}</div>
                <div class="alert alert-success text-center" ng-show="formSuccess"><h3>{{formSuccess}}</h3></div>

                <form method="post" ng-submit="requestForm.$valid && sendRequest(requestForm)" name="requestForm"
                      ng-hide="formSuccess">

                    <div class="form-group">
                        <input class="form-control input-lg" type="text"
                               ng-model="user.sc_number" placeholder="Your Enrollment Number" required autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="text" name="phone"
                               ng-model="user.phone" placeholder="Your Registered Phone Number" ng-minlength="10"
                                ui-us-phone-number required>

                        <div class="text-center">
                            <small class="text-danger" ng-show="requestForm.phone.$error.usPhoneNumber">
                                Please enter a valid Phone Number
                            </small>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="requestForm.$invalid || submitting"
                            class="btn btn-lg btn-block btn-default">Request Password
                    </button>

                </form>

                <hr>

                <div class="text-center">
                    Already have a Password
                    <a class="text-success text-bold text-underline" ui-sref="login">Login Here</a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                  For Enquiries please contact <address><a href="mailto:elections@nba-agc.org">
                  elections@nba-agc.org</a></address>
                </div>
            </div>
        </div>
    </div>
</div>
