<div ng-include="'components/navbar/navbar.html'"></div>

<script type="text/ng-template" id="bioModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title" ng-bind="bio._member.firstName||bio._member.othername + ' ' + bio._member.surname"></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <img src="{{ bio.secure_url }}" class="img-rounded pull-sm-left col-md-4" />
            <div class="caption col-md-7 pull-right">
                <p>{{ bio.bio }}</p>
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    </div>
</script>

<div class="container ballots" ng-cloak>

    <div class="row">
        <div class="col-md-3" menu></div>

        <div class="col-md-9" ng-show="!showBallotPage">

            <div class="panel panel-default panel-green">
                <div class="panel-heading">
                    <h1 class="text-bold panel-title text-uppercase text-center">
                        {{poll.title}}
                    </h1>
                    <p class="text-white text-lowercase">{{poll.description}}</p>

                </div>
                <div class="panel-body">

                    <div class="alert alert-info text-center">
                        <h3>{{message}}</h3>
                    </div>

                    <a ui-sref="polls" class="btn btn-sm btn-primary"><i class="fa fa-home"></i> Back to
                        Polls Page</a>

                </div>
            </div>
        </div>

        <div class="col-md-9" ng-show="showBallotPage">

            <div class="panel panel-default panel-green">
                <div class="panel-heading">
                    <h1 class="text-bold panel-title text-uppercase text-center">
                        {{poll.title}}
                    </h1>
                    <p class="text-white text-lowercase">{{poll.description}}</p>
                </div>
                <div class="panel-body">

                    <div class="row">
                          <div class="col-md-12 text-center">

                            <div class="pearls pearls-sm row">

                                <div class="pearl col-xs-4" ng-class="{current: showNext== false&&showLast==false, done:showNext==true && (showLast==true||showLast==false)}">
                                  <div class="pearl-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                  <!--<span class="pearl-number">1</span>-->
                                  <span class="pearl-title">Select Your Candidtate(s)</span>
                                </div>

                                <div class="pearl col-xs-4" ng-class="{disabled: showNext==false && showLast==false,current:showNext==true && showLast==false,done:showNext==true && showLast==true}">
                                  <div class="pearl-icon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                  <!--<span class="pearl-number">2</span>-->
                                  <span class="pearl-title">Verify Your Selection</span>
                                </div>

                                <div class="pearl  col-xs-4" ng-class="{disabled: showNext== true && showLast==false,current:showNext==true && showLast==true}">
                                  <div class="pearl-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                  <!--<span class="pearl-number">3</span>-->
                                  <span class="pearl-title">Submission</span>
                                </div>

                              </div>

                          </div>
                    </div>

                    <div class="row" style="margin-top: 20px" ng-hide="showingReceipt">

                        <div class="col-sm-12" ng-repeat="position in positions track by $index">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <i class="fa fa-star"></i> {{position.name}}
                                        <button ng-show="ballot[position._id]" class="btn btn-xs btn-danger pull-right"
                                                ng-click="cancelChoice(position._id, candidate)">Cancel Selection
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-body ">
                                    <p>{{position.description}}</p>
                                    <div style="margin-left: 15px; margin-right: 15px;" class="ballot-panel show-grid row well well-sm"
                                         ng-class="{'selected-div': selected[position._id][candidate._id]}"
                                         ng-repeat="candidate in position.candidates track by $index">
                                        <div class="col-md-1" style="padding-top:20px;">
                                            <input  type="radio" ng-click="setChoice(position._id, candidate)"
                                                    ng-model="ballot[position._id]" ng-value="candidate" />
                                        </div>
                                        <div class="col-md-2">
                                            <img src="{{candidate.secure_url}}" class="img-rounded pull-left" width="60px" height="60px">
                                        </div>
                                        <div ng-click="setChoice(position._id, candidate)" class="col-md-6 center-block">
                                            <div>
                                                <a href="#" class="text-bold h4 text-center" style="line-height: 3.5em;"
                                                   ng-bind="candidate._member.firstName||candidate._member.othername + ' ' + candidate._member.surname"></a>
                                                <div class="printed pull-right" style="height: 50px;width: 50px;"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 center-block">
                                            <button ng-class="{disabled: selected[position._id][candidate._id]}" class="pull-right btn btn-sm btn-success btn-block" type="button" ng-click="setChoice(position._id, candidate)">VOTE
                                            </button>
                                            <button href="#" class="pull-left btn btn-sm btn-primary btn-block" ng-click="open(candidate)" role="button">View
                                                Profile</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div ng-show="ballot[position._id]" class="text-right text-bold text-warning h4">
                                        YOU VOTED FOR {{(ballot[position._id]._member.firstName||ballot[position._id]._member.othername)+" "+ballot[position._id]._member.surname}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12" ng-show="positions.length">
                            <br><br>
                            <button ng-click="showReceipt()" class="pull-right btn btn-lg btn-default"
                                    ng-disabled="ballotFilled()">
                                <i class="fa fa-check-square"></i> Submit <i class="fa fa-thumbs-up"></i>
                            </button>
                        </div>

                    </div>

                    <div ng-show="showingReceipt" class="row">
                        <div class="col-md-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <i class="fa fa-registered"></i> Ballot Receipt
                                    </div>

                                </div>
                                <div class="panel-body">
                                  <div ng-show="showDiv" class="row text-center"><h4>Please Verify Your Selections</h4></div>
                                    <table ng-show="!showtable" class="table table-striped table-hover table-bordered">
                                        <tr class="success">
                                            <th class="text-right text-bold">POSITION</th>
                                            <th class="text-bold">YOUR VOTE</th>
                                        </tr>
                                        <tr ng-repeat="p in positions">
                                            <th class="text-right">{{p.name}}</th>
                                            <td
                                                    class="text-uppercase">{{ballot[p._id]._member.firstName||ballot[p._id]._member.othername}}
                                                {{ballot[p._id]._member.surname}}
                                            </td>
                                        </tr>
                                      <tr class="info ">
                                        <td class="text-right"><label ng-click="backToBallot()" class="btn btn-danger"> Go Back</label></td>
                                        <td><label ng-click="setTableTrue()" class="btn btn-primary"> Proceed To Submit</label></td></tr>
                                    </table>
                                    <hr>
                                    <form name="ballotForm" ng-show="showtable" class="form-horizontal">
                                        <div class="alert alert-info">
                                            In order to accept your vote, please enter your password.
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-md-offset-3 control-label">
                                                Your Password <span class="required">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="password" name="password" ng-model="ballot.password"
                                                       placeholder="PASSWORD"
                                                       class="form-control" required>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-sm-offset-3">
                                                <button type="button" class="btn btn-danger btn-block" ng-click="backToBallot()">
                                                    <i class="fa fa-arrow-left"></i> Go Back
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-default btn-block" ng-click="submitBallot(ballotForm)"
                                                        ng-disabled="ballotForm.$invalid"><i class="fa fa-check-square"></i>
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
