<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container dashboard">
    <div class="row">
        <div class="col-md-3" menu></div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="panel-title"><i class="fa fa-edit"></i> Change Password</div>
                        </div>
                        <div class="panel-body">

                            <br><br>

                            <div class="center">
                                <form method="post" ng-submit="pwdForm.$valid && changePassword(pwdForm)" name="pwdForm" class="col-sm-6 col-xs-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 m-t-10">

                                <div class="alert alert-danger text-center" ng-show="formError">{{formError}}</div>
                                <div class="alert alert-success text-center" ng-show="formSuccess">{{formSuccess}}</div>

                                <div class="form-group">
                                    <input class="form-control" type="password"
                                           ng-model="u.current_password" ng-minlength="4"
                                           placeholder="Enter your current password" required autofocus>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password"
                                           ng-model="u.password" ng-minlength="4"
                                           placeholder="New Password (at least 4 characters)" required>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" name="pwd"
                                           ng-model="password_cnf" placeholder="Re-Type Password" required>

                                    <div class="text-center m-t-10">
                                        <small class="text-danger" ng-show="pwdForm.$valid && (u.password != password_cnf)">
                                            Passwords do not match!
                                        </small>
                                    </div>
                                </div>

                                <button type="submit" ng-disabled="pwdForm.$invalid || (pwdForm.$valid && u.password != password_cnf) || submitting"
                                        class="btn btn-block btn-default">Change Password
                                </button>
                            </form>
                            </div>

                            <br><br>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                              For Enquiries please contact <address><a href="mailto:nbapolls-2016@nigerianbar.org.ng?Subject=Ballot%20Receipt%20Enquires">
                              nbapolls-2016@nigerianbar.org.ng</a></address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
