<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container ballot_receipt">
    <div class="row">
        <div class="col-md-3" menu></div>

        <div ng-if="ready" class="col-md-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="panel-title"><i class="fa fa-registered"></i> BALLOT RECEIPTS</div>
                        </div>
                        <div class="panel-body">
                            <button ng-disabled="" ng-click="submit()"
                                    class="btn btn-block btn-default"><i
                                    class="fa fa-check-square"></i>
                                Show Receipt
                            </button>
                            <br>

                            <div ng-repeat="receipt in receipts.slice().reverse()">
                                <!--<div class="alert text-center alert-primary" ng-show="votes.length">-->
                                <!--<h4 class="text-uppercase">{{votes[0]._poll.title}}</h4>-->
                                <!--<p class="text-white">{{votes[0]._poll.description}}</p>-->
                                <!--</div>-->

                                <div class="panel row col-md-10 col-md-offset-1" ng-class-odd="'panel-info'"
                                     ng-class-even="'panel-primary'"
                                     ng-show="receipts.length">
                                    <div class="panel-heading">
                                        <div class="panel-title"><i class="fa fa-briefcase"></i> POLL TITLE :
                                            {{receipt._votes[0]._poll
                                            .title}}
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-md-offset-2 panel-body">
                                        <table class=" table table-striped table-bordered table-hover">
                                            <tr>
                                                <th class="text-right success">POSITION</th>
                                                <th class="success">YOUR CANDIDATE</th>
                                            </tr>
                                            <tr ng-repeat="vote in receipt._votes">
                                                <th class="text-right h5">{{vote._position.name}}</th>
                                                <td class="text-left text-uppercase h5">{{vote.candidate.firstName||vote.candidate.othername}}
                                                    {{vote.candidate.surname}}
                                                </td>
                                            </tr>
                                        </table>


                                        <div class="row">
                                            <div class="col-md-6 text-left">Ballot Receipt Code: {{receipt.code}}</div>
                                            <div class="col-md-6 text-right">Vote date: {{ago(receipt.receiptDate)}}</div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="text-right">For Enquiries please contact
                                <address><a href="mailto:elections@nba-agc.org?Subject=Ballot%20Receipt%20Enquires">
                                    elections@nba-agc.org</a></address>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!ready" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
