<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container dashboard">
    <div class="row">
        <div class="col-md-3" menu></div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <h5 class="text-left text-uppercase">Platform Usage Information</h5>
                        <p class="text-white text-justify">Jan 24, 2012 - Creating methods to update & save documents with mongoose?  with an instance, but do model-related stuff (for example search for all Animals  From inside a static method, you can also create a new document by doing </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="panel-title"><i class="fa fa-registered"></i> BALLOT RECEIPTS</div>
                        </div>
                        <div class="panel-body">
                            <form name="recForm" class="form-horizontal">
                                <div class="alert alert-info">
                                    Enter Your Receipt Code below to see how you've Voted
                                </div>

                                <div class="form-group">
                                    <label class="col-md-offset-1 col-md-3 control-label">Receipt Code: <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        <input class="form-control" ng-model="code"
                                               placeholder="Enter Receipt Code Here" required>
                                    </div>
                                    <div class="col-md-3">
                                        <button ng-disabled="recForm.$invalid" ng-click="recForm.$valid && submit()"
                                                class="btn btn-block btn-default"><i
                                                class="fa fa-check-square"></i>
                                            Show Receipt
                                        </button>
                                    </div>
                                </div>

                            </form>
                            <hr>

                            <div class="alert text-center alert-primary" ng-show="votes.length">
                                <h4 class="text-uppercase">{{votes[0]._poll.title}}</h4>
                                <p class="text-white">{{votes[0]._poll.description}}</p>
                            </div>

                            <table class="table table-striped table-hover" ng-show="votes.length">
                                <tr>
                                    <th class="text-right">BALLOT RECEIPT CODE</th>
                                    <td class="text-left">{{code}}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">VOTE DATE</th>
                                    <td class="text-left" title="{{votes[0].voteDate}}">{{ago(votes[0].voteDate)}}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">POSITION</th>
                                    <th>YOUR VOTE</th>
                                </tr>
                                <tr><td colspan="2"></td></tr>
                                <tr><td colspan="2"></td></tr>
                                <tr ng-repeat="v in votes">
                                    <th class="text-right">{{v._position.name}}</th>
                                    <td
                                            class="text-left text-uppercase">{{v.candidate.firstName||v.candidate.othername}}
                                        {{v.candidate.surname}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="text-left">
                                &nbsp;
                                <span ng-show="votes.length" title="{{votes[0].voteDate}}">Vote DATE:
                                    {{ago(votes[0].voteDate)}}</span>
                                <a class="btn-link text-success pull-right" target="_blank"
                                   href="http://omonayajo.com"><i
                                        class="fa fa-check-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>