<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container dashboard">
    <div class="row">
        <div class="col-md-3" menu>

        </div>

        <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default panel-green">
                  <div class="panel-heading">
                    <h1 class="panel-title text-uppercase">
                      <i class="fa fa-dashboard"> </i>  Welcome, {{$user._member.title + " " + $user._member.firstName + " " + $user._member.surname}}
                    </h1>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                          <!--<h5 class="text-left text-uppercase">Platform Usage Information</h5>-->
                          <h5 class="text-center text-uppercase">How to vote in 3 Steps</h5>
                          <p class="text-left">   Go to Polls to see available polls.</p>
                          <p class=" text-left">   Click on an open poll to see available positions.</p>
                          <p class=" text-left">   Choose candidate and VOTE.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row text-center col-md-12">
                      <div class=" col-md-offset-1">
                        <div class="panel panel-success">
                          <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">
                              <i class="fa fa-user"></i>User's Profile
                            </h2>
                          </div>
                          <div class="panel-body">
                            <table class="col-md-10 col-xs-offset-1 text-center">
                              <tr class="list-group-item">
                                <td style="width: 50%" class="pull-left">Name</td>
                                <td>{{$user._member.title + " " + $user._member.firstName + " " + $user._member.surname}}</td>
                              </tr>
                              <tr class=" list-group-item">
                                <td style="width: 50%" class="pull-left">Enrollment Number</td>
                                <td>{{$user._member.sc_number}}</td>
                              </tr>
                              <tr class=" list-group-item">
                                <td style="width: 50%" class="pull-left">My Branch</td>
                                <td>{{$user._member.branch}}</td>
                              </tr>
                              <tr class=" list-group-item">
                                <td style="width: 50%" class="pull-left">Email Address</td>
                                <td>{{$user._member.email}}</td>
                              </tr>
                            </table>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row text-center col-md-6">
                      <div class="col-md-offset-2 ">
                        <div class="panel panel-success">
                          <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">
                              <i class="fa fa-calendar"></i>AVAILABLE POLLS
                            </h2>
                          </div>
                          <div class="panel-body">
                              <div ng-repeat="p in polls" >
                                <a href="#" class="list-group-item" ng-click="showBallot(p)" ng-show="open(p)">{{p.title}}</a>
                              </div>
                            </div>
                        </div>
                      </div>

                    </div>
                    <div class="row text-center col-md-6">
                      <div class=" col-md-offset-3 ">
                        <div class="panel panel-success">
                          <div class="panel-heading">
                            <h2 class="panel-title text-uppercase">
                              <i class="fa fa-calendar"></i> PAST POLLS
                            </h2>
                          </div>
                          <div class="panel-body">
                            <div ng-repeat="p in polls" >
                              <a href="#" class="list-group-item" ng-click="showBallot(p)" ng-show="after(p.closes)">{{p.title}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--<h1>{{$user._member.firstName + " " + $user._member.surname}}</h1>-->
                  </div>
                  <div class="panel-footer">
                    <div class="text-right">
                      For Enquiries please contact <address><a href="mailto:nbapolls-2016@nigerianbar.org.ng">
                      nbapolls-2016@nigerianbar.org.ng</a></address>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        </div>
    </div>
</div>
