<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container polls">
    <div class="row">
        <div class="col-md-3" menu></div>

        <div ng-if="ready" class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default panel-green">
                <div class="panel-heading">
                  <h1 class="panel-title text-uppercase">
                    <i class="fa fa-thumbs-o-up"> </i>  Polls
                  </h1>
                </div>
                <div class="panel-body">
                  <div class="alert alert-info">
                    <p class="text-left">
                      Open Polls are labelled <span class="label label-primary">blue</span>  -
                      Closed Polls are labelled <span class="label label-danger">red</span>  -
                      Polls Ahead are labelled <span class="label label-warning">yellow</span>
                    </p>
                  </div>

                  <div class="panel well panel-info hover" ng-repeat="p in polls" ng-click="showBallot(p)">
                    <span class="label pull-right" ng-class="
                        {'label-primary': open(p), 'label-danger': after(p.closes), 'label-warning': yetToOpen(p)}">
                        Open{{after(p.opens)?"ed":"s"}} {{ago(p.opens)}} - Close{{before(p.closes)?"s":"d"}}
                        {{ago(p.closes)}}
                    </span>
                    <h4 class="text-left"><i class="fa fa-flag-checkered pull-left" ng-show="p.national"></i> {{p.title}}</h4>
                    <p>{{p.description}}</p>
                  </div>
                </div>
              <div class="panel-footer">
                  <div class="text-right">
                      For Enquiries please contact elections@nba-agc.org
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      <div ng-if="!ready" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
</div>
