<div ng-include="'components/navbar/navbar.html'"></div>

<div class="help" style="background-color: white !important;" >
  <div class="row mt-30">
    <img class="text-center" src="../../assets/images/nba_logo.jpg" width="100px" height="auto"/>
  </div>
  <div class=" ">
    <youtube-video video-url="url"  player-width="'90%'" player-height="'500px'"
                   player-vars="playerVars"
                   player="Player"></youtube-video>
  </div>
<div class="row">
  <button class="btn btn-success" ng-click="Player.playVideo()"><i class="fa fa-play"></i> Play</button>
  <button class="btn btn-info" ng-click="Player.pauseVideo()"><i class="fa fa-pause"></i> Pause</button>
  <button class="btn btn-danger" ng-click="Player.stopVideo()"><i class="fa fa-stop"></i> Stop</button>
  <button class="btn btn-danger col-md-offset-2"  ng-click="goBack()"><i class="fa fa-backward"></i> Go To
  Previous Page</button>
</div>

</div>
