<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container forgot_password">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h3 class="text-center"><i class="icon glyphicon-log-in m-r-15"></i> {{formSuccess?"Enter Code sent as
                    SMS!":"Request Password Reset"}}</h3><br>

                <div ng-if="!requested" class="alert alert-danger text-center" ng-show="formError">{{formError}}</div>
                <div ng-if="!requested" class="alert alert-success text-center" ng-show="formSuccess"><h3>{{formSuccess}}</h3></div>

                <div ng-if="requested" class="alert alert-danger text-center" ng-show="formError">{{formError1}}</div>
                <div ng-if="requested" class="alert alert-success text-center" ng-show="formSuccess"><h3>{{formSuccess1}}</h3></div>

                <form ng-if="!requested" method="post" ng-submit="requestForm.$valid && sendRequest(requestForm)"
                      name="requestForm"
                      ng-hide="formSuccess">

                    <div class="form-group">
                        <input class="form-control input-lg" type="text"
                               ng-model="user.sc_number" placeholder="Your Enrollment Number" required autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="email" name="email"
                               ng-model="user.email" placeholder="Your Registered Email"
                               required>

                        <div class="text-center">
                            <small class="text-danger" ng-show="requestForm.phone.$error">
                                Please enter a valid Email Address
                            </small>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="requestForm.$invalid || submitting"
                            class="btn btn-lg btn-block btn-default">Reset Password
                    </button>

                </form>

                <form ng-if="requested" method="post" ng-submit="verifyForm.$valid && verifyRequest(verifyForm)"
                      name="verifyForm" ng-hide="formSuccess1">

                    <p class="text-capitalize text-ellipsis">
                        Please enter the code sent to your phone
                    </p>

                    <div class="form-group">
                        <input class="form-control input-lg" type="text"
                               ng-model="user.checkCode" placeholder="Enter code sent to your phone" required autofocus>
                    </div>

                    <button type="submit" ng-disabled="verifyForm.$invalid || submitting1"
                            class="btn btn-lg btn-block btn-default">Verify Code
                    </button>

                </form>

                <hr>
                <div class="text-center">
                    Already have a Password
                    <a class="text-success text-bold text-underline" ui-sref="login">Login Here</a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    For Enquiries please contact
                    <address><a href="mailto:elections@nba-agc.org">
                        elections@nba-agc.org</a></address>
                </div>
            </div>
        </div>
    </div>
</div>
