#setup_account {
  .panel-body {
    .btn-block {
      margin: 5px auto;
    }
  }

  .panel-heading {
    .panel-title {
      font-weight: 400;
    }
  }

  .center-form {
    margin: 5% auto;
    width: 500px;
  }
}