<div ng-include="'components/navbar/navbar.html'" xmlns="http://www.w3.org/1999/html"></div>

<div class="container" id="setup_account">

    <div style="background: rgba(55, 109, 76, 0.73); margin-bottom: 10px" class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 10px; margin-bottom: 10px">
                  <h2><span class="text-uppercase text-white text-bold">Accreditation</span></h2>
                    <h5>
                        <span class="text-uppercase text-white text-bold">Welcome to the NBA Election Portal</span>
                    </h5>


                </div>
            </div>

        </div>

    </div>
  <div class="row text-center">
    <h6>Please go through theses 3 steps for accreditation</h6>
    <div calss="pearls pearls-lg row">
        <div style="margin-top: 20px;">

          <div class="pearl col-xs-4" ng-class="{current: showNext==false ||showLast==false, done:showNext==true}">
            <div class="pearl-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
            <!--<span class="pearl-number">1</span>-->
            <span class="pearl-title">Confirm Phone Number</span>
          </div>

          <div class="pearl col-xs-4" ng-class="{disabled: showNext==false && showLast==false,current:showNext==true && showLast==false,done:showLast==true}">
            <div class="pearl-icon"><i class="fa fa-key" aria-hidden="true"></i></div>
            <!--<span class="pearl-number">2</span>-->
            <span class="pearl-title">Change Password</span>
          </div>

          <div class="pearl  col-xs-4" ng-class="{current:showLast==true}">
            <div class="pearl-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
            <!--<span class="pearl-number">3</span>-->
            <span class="pearl-title">Get Verification Code</span>
          </div>
        </div>
    </div>

  </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 panel panel-green" ng-hide="showNext || showLast">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-unlock"></i>
                    Verify Your Account
                </div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    Confirm your phone number to progress with setup
                </div>

                <form name="setupForm" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Enrollment Number <span class="required">*</span> </label>
                        <div class="col-sm-7">
                            <input readonly type="text" class="form-control"
                                   value="{{member.sc_number}}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">NBA Branch <span class="required">*</span> </label>
                        <div class="col-sm-7">
                            <input readonly type="text" class="form-control"
                                   value="{{member.branch}}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Title</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="Hon. Justice, etc"
                                   ng-model="member.title" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">First Name <span class="required">*</span> </label>
                        <div class="col-sm-7">
                            <input readonly type="text" placeholder="FIRST NAME" class="form-control"
                                   ng-model="member.firstName" ng-value="member.othername"
                                   required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Surname <span class="required">*</span> </label>
                        <div class="col-sm-7">
                            <input readonly type="text" placeholder="SURNAME" class="form-control" ng-model="member.surname"
                                   required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Middle Name </label>
                        <div class="col-sm-7">
                            <input readonly type="text" placeholder="MIDDLE NAME" class="form-control"
                                   ng-model="member.middleName">
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-5 control-label">Email <span class="required">*</span> </label>
                      <div class="col-sm-7">
                        <input readonly type="email" placeholder="EMAIL" class="form-control"
                               ng-model="member.email">
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Phone Number <span class="required">*</span> </label>
                        <div class="col-sm-7">
                            <input readonly type="tel" placeholder="PHONE NUMBER" class="form-control"
                                   ng-model="member.phone" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">Confirm Phone Number <span class="required">*</span> </label>
                        <div class="col-sm-7">
                            <input type="tel" placeholder="Re-Type PHONE NUMBER" class="form-control"
                                   ng-model="phone_conf" required>
                        </div>
                    </div>

                </form>
                <div ng-hide="setupForm.$invalid || (setupForm.$valid && member.phone != phone_conf) || submitting" class="alert alert-info">
                    <span class="required">Make sure you have this phone with you. You'll receive an SMS with your password shortly. </br>Please change it on the nexe phase!</span>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-5">
                        <button class="btn btn-danger btn-block" type="reset" ng-disabled="!setupForm.$dirty"
                                ng-click="reset() && setupForm.$setPristine()"> <i
                                class="fa fa-times"></i> RESET</button>
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-default btn-block"
                                ng-disabled="setupForm.$invalid || (setupForm.$valid && member.phone != phone_conf) || submitting"
                                ng-click="submit(setupForm)"><i
                                class="fa fa-check"></i> GET PASSWORD </button>
                    </div>
                </div>
                <div class="row" style="padding-top: 2em;">
                    <p class="text-center">Already have a password?, <a href="#" ng-click="step2()"> please change it.</a></p>
                </div>
            </div>
        </div>


      <div class="col-md-offset-3 col-md-5 panel panel-green" ng-show="showNext">
        <div class="panel-heading">
          <div class="panel-title"><i class="fa fa-edit"></i> Change Password</div>
        </div>
        <div class="panel-body">
          <br><br>
          <div class="row">
            <form method="post" ng-submit="pwdForm.$valid && changePassword(pwdForm)" name="pwdForm"
                  class="col-xs-8 col-xs-offset-2">

              <div class="alert alert-danger text-center" ng-show="formError">{{formError}}</div>
              <div class="alert alert-success text-center" ng-show="formSuccess">{{formSuccess}}</div>

                <div class="form-group">
                    <input class="form-control" type="text"
                           ng-model="u.username" ng-minlength="4"
                           placeholder="Enter Enrollment Number" required autofocus>
                </div>

              <div class="form-group">
                <input class="form-control" type="password"
                       ng-model="u.current_password" ng-minlength="4"
                       placeholder="Enter your current password" required autofocus>
              </div>

              <div class="form-group">
                <input class="form-control" type="password"
                       ng-model="u.password" ng-minlength="4"
                       placeholder="New Password (at least 4 characters)" required>
              </div>

              <div class="form-group">
                <input class="form-control" type="password" name="pwd"
                       ng-model="password_cnf" placeholder="Re-Type Password" required>

                <div class="text-center m-t-10">
                  <small class="text-danger" ng-show="pwdForm.$valid && (u.password != password_cnf)">
                    Passwords do not match!
                  </small>
                </div>
              </div>

              <button type="submit" ng-disabled="pwdForm.$invalid || (pwdForm.$valid && u.password != password_cnf) || submitting"
                      class="btn btn-block btn-default">Change Password
              </button>
            </form>
          </div>
          <br><br>
        </div>
        <div class="panel-footer">
          <div class="text-left">

          </div>
        </div>
      </div>


      <div class="col-md-offset-3 col-md-6 panel panel-green" ng-show="showLast && confirmation == false">
          <div class="panel-heading">
              <div class="panel-title">
                  Confirm Verification Code
              </div>
          </div>
          <div class="panel-body">

              <form name="accessForm" class="form-horizontal">

                  <p class="alert alert-info">Enter the Verification Code that was sent to your phone number. If you didn't get the SMS, please <a ng-click="resendCode()"                                                                     ng-disabled="resendingCode" href="#" class="text-info">Click
                          Here</a> to have it resent to you. </p>

                  <div class="form-group">
                      <div class="col-sm-6 col-sm-offset-3">
                          <label class="control-label">Verification Code <span class="required">*</span> </label><br><br>
                          <input type="text" maxlength="8" placeholder="Enter Verification Code"
                                 class="form-control input-lg"
                                 ng-model="accessCode" required>
                      </div>
                  </div>

              </form>
          </div>
          <div class="panel-footer">
              <div class="row">
                  <div class="col-sm-5">
                      <button class="btn btn-danger btn-block"
                              ng-click="showNext=false"> <i
                              class="fa fa-times"></i> BACK</button>
                  </div>
                  <div class="col-sm-7">
                      <button class="btn btn-default btn-block" ng-disabled="accessForm.$invalid || submitting"
                              ng-click="compareCode(accessForm)"><i
                              class="fa fa-check"></i> CONFIRM CODE </button>
                  </div>
              </div>
          </div>
      </div>

<div class="container" ng-show="confirmation && submitting">
        <div style="background: rgba(8, 84, 8, 0.73); margin-bottom: 10px">
          <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 10px; margin-bottom: 10px">
              <h2><span class="text-uppercase text-white text-bold">{{confirmationMessage}}</span></h2>
              <h5>
                <span class="text-uppercase text-white text-bold">This Page will Redirect to the Login in 5 seconds</span>
              </h5>
              <h3>OR</h3>
              <h4>Click here to go to <label ng-click="dashboard()" class="text-white"><strong>Login</strong></label></h4>


            </div>
          </div>
</div>
        </div>

      </div>

</div>
