<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <div class="text-center h3"><i class="icon glyphicon-lock" ng-click="gotoAdminLogin()"> </i> Secure Login
                </div>
                <br>

                <div class="alert alert-info text-center" style="color: red;">*Please note that your username does not contain <strong>Alphabet 'O'</strong>, only <strong>Number '0'</strong></div>
                <div class="alert alert-danger text-center" ng-show="formError">{{formError}}</div>

                <form method="post" ng-submit="loginForm.$valid && login()" name="loginForm">

                    <div class="form-group">
                        <input class="form-control input-lg" type="text"
                               ng-model="username" placeholder="Username" required autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="password"
                               ng-model="password" placeholder="Password" required>
                    </div>

                    <button type="submit" ng-disabled="loginForm.$invalid || submitting"
                            class="btn btn-lg btn-block btn-default">Sign In
                    </button>

                    <hr>

                    <div class="text-center">
                        <!--Forgotten your Password?-->
                        <a class="text-success text-bold text-underline" ui-sref="forgot_password">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
